.via-midia-black {
  color: var(--via-midia-black);
}

.pastelBlue {
  color: var(--pastel-blue);
}

.electricPink {
  color: var(--electric-pink);
}

.salmon {
  color: var(--salmon);
}

.carWrappingBlue {
  color: var(--car-wrapping-blue);
}

.acmYellow {
  color: var(--acm-yellow);
}
