.superHeader {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 60px;
  color: var(--soft-grey);
}

.superHeaderMeddon {
  font-family: "Meddon";
  font-size: 72px;
  font-weight: 400;
  line-height: 60px;
  color: var(--electric-pink);
}

.header1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: var(--soft-grey);
}

.subHeader1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--soft-grey);
}

.subHeader2 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--soft-grey);
}

.bodyLarge {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--soft-grey);
}

.body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--soft-grey);
}

.bodySmall {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--soft-grey);
}

.button {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--soft-grey);
}

.caption {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--soft-grey);
}

.bold {
  font-weight: 700;
}

.centeredText {
  text-align: center;
}

.linearGradientText {
  background: linear-gradient(
    to right,
    #ff4ad6,
    #ffc273
  ); /* Define your gradient */
  clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  -background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent */
}

.radialGradientText {
  background: radial-gradient(
    circle,
    #ffc273,
    #ff4ad6
  ); /* Define your gradient */
  clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  -background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent */
}
