.h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 96px;
  color: var(--soft-grey);
}

.h1Meddon {
  font-family: "Meddon";
  font-weight: 400;
  color: var(--electric-pink);
}

.h2 {
  font-size: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: var(--soft-grey);
  line-height: 95px;
}

.h3 {
  font-size: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: var(--soft-grey);
}

.subHeader2 {
  font-size: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--soft-grey);
}

.bodyLarge {
  font-size: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--soft-grey);
}

.body {
  font-size: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--soft-grey);
}

.bodySmall {
  font-size: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--soft-grey);
}

.caption {
  font-size: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--soft-grey);
}

.bold {
  font-weight: 700;
}

.centeredText {
  text-align: center;
}

.gradientText {
  background: linear-gradient(
    to right,
    #ff4ad6,
    #ffc273
  ); /* Define your gradient */
  clip: text; /* Clip the background to the text */
  background-clip: text; /* Clip the background to the text */
  -background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent */
}
