.container {
  position: relative;
  padding: 40px;
  background-color: var(--soft-grey);
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 40px;
}

.container p {
  color: var(--via-midia-black);
}

.container a {
  color: var(--via-midia-black);
}

.topSection {
  display: flex;
  justify-content: space-between; /* Distributes space between child elements */
  align-items: start; /* Aligns items vertically in the center */
  flex-direction: row;
  width: 100%;
}

.bottomSection {
  display: grid;
  justify-items: center; /* Center items horizontally */
  flex-direction: column;
  width: 100%;
}

.socialMediaSection {
  display: grid;
  justify-items: top start;
  flex-direction: column;
  gap: 10px;
}

.socialMediaButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pagesSection {
  display: grid;
  justify-items: start;
  align-items: top;
  flex-direction: column;
  gap: 5px;
}
