.contactFieldContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.contactFieldContainer p {
  text-align: center;
}

.contactFieldHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

.contactFieldHeader svg {
  height: 16px;
  width: 16px;
}
