.roundedButton {
  display: flex;
  width: 100%;
  min-height: 32px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  border-radius: 60px;
}

.roundedButton svg {
  height: 18px;
  width: 18px;
}
