.roundedButton {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  border-radius: 30px;
}

.roundedButton svg {
  height: 18px;
  width: 18px;
}
