.baseHomeSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.baseHomeSection h2 {
  text-align: center;
}

@media (min-width: 768px) {
  .baseHomeSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 40px;
  }
}
