.phoneNumber {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  border-radius: 30px;
  border-color: var(--soft-grey);
  border-width: 1px;
}

.roundedButton p {
  color: var(--soft-grey);
}

.phoneNumber svg {
  transform: scale(0.75);
}
