.phoneNumber {
  display: flex;
  min-height: 32px;
  width: 100%;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  border-radius: 60px;
  border-style: solid;
  border-color: var(--soft-grey);
  border-width: 1px;
  text-decoration: none;
}

.roundedButton p {
  color: var(--soft-grey);
}

.phoneNumber svg {
  transform: scale(0.75);
}
