.phoneNumber {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    border-radius: 10px;
    border-color: var(--soft-grey);
    border-width: 1px;
  }
  
  .roundedButton p {
    color: var(--soft-grey);
  }

  .phoneNumber svg {
    width: 24px;
  }
  