@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");

:root {
  --via-midia-black: #201e1e;

  --background-color: #121212;

  --electric-pink: #ff4ad6;
  --salmon: #ffa180;
  --yellow: #f5fc73;
  --pastel-blue: #a387ff;
  --dark-blue: #171451;
  --soft-grey: #e6e6dd;

  --orange-gradient: #ffc273;
  --purple-shadow: #b585ff;
  --border-grey: #363636;

  --car-wrapping-blue: #42a8e1;
  --acm-yellow: #ecd81e;
  --card-background-color: #232323;
}

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scroll */
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
}

#root {
  height: 100%;
  width: 100%;
}

/* Change the text selection color for the entire document */
::selection {
  background-color: var(
    --electric-pink
  ); /* Background color of the selection */
  color: #000000; /* Text color of the selection */
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}
