@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #ffc107;
  --text-color: #333;
  --background-color: #121212;

  --electric-pink: #FF4AD6;
  --salmon: #FFA180;
  --yellow: #F5FC73;
  --pastel-blue: #A387FF;
  --dark-blue: #171451;
  --soft-grey: #E6E6DD;

  --orange-gradient: #FFC273;
  --purple-shadow: #B585FF;
  --border-grey: #363636;
}

body {
  background: linear-gradient(to bottom,  black, var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Change the text selection color for the entire document */
::selection {
  background-color: var(--electric-pink); /* Background color of the selection */
  color: #000000; /* Text color of the selection */
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}