.contactsCardContainer {
    max-width: 300px;
    border-radius: 20px;
    background-color: var(--card-background-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 18px;
  }
  
  .contactsCardButtons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
  }