.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 400px;
  min-height: 510px;
  border-radius: 20px;
  clip-path: inset(0 0 0 0 round 20px);
  background-color: var(--card-background-color);
}

.cardTextContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 12px 20px 20px 20px;
  gap: 8px;
}

.cardTextContainer p {
  width: 100%;
  text-align: justify;
  box-sizing: bo;
}

.cardContainer img {
  height: 200px;
  width: 100%;
  object-fit: cover;  /* Makes the image behave like Figma's "Fill" */
  object-position: center; /* Ensures the image is centered */
}
